{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}OIRS{% endblock %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="card" style="width: 50rem;">
        <div class="card-body">
            <h2 class="card-title text-center">Oficina de Información, Reclamos y Sugerencias</h2>
            <form method="post">
                {% csrf_token %}
                {% crispy form %}
            </form>
        </div>
    </div>
</div>

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .card-body {
        padding: 20px;
    }
</style>
{% endblock %}
