# Archivos y carpetas generados por Django
*.pyc
__pycache__/
*.sqlite3

# Archivos de configuración local (por ejemplo, settings.py personalizados)
*/settings_local.py

# Archivos de registros
logs/
*.log

# Archivos de compilación Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Carpeta donde se almacenan los archivos estáticos en producción
/static/

# Carpeta donde se almacenan los archivos de medios en producción
/media/

# Virtual environment (por ejemplo, creado con virtualenv o pipenv)
venv/
env/

# Carpeta de dependencias (por ejemplo, creada por pip)
/lib/
/libs/
/local/
