{% extends 'base.html' %}

{% block title %}Editar Paciente{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<script>
    $(document).ready(function () {
        // Función para obtener las comunas de una región
        function cargarComunas(region_id, selected_comuna_id) {
            $.ajax({
                url: '/obtenerComunas/',
                data: {
                    'region_id': region_id
                },
                dataType: 'json',
                success: function (data) {
                    $('#id_comuna').empty();
                    $('#id_comuna').append('<option value="">Seleccione una comuna</option>');
                    $.each(data, function (index, comuna) {
                        $('#id_comuna').append($('<option>', {
                            value: comuna.id,
                            text: comuna.comuna
                        }));
                    });
                    if (selected_comuna_id) {
                        $('#id_comuna').val(selected_comuna_id);
                    }
                }
            });
        }

        $('#id_region').change(function () {
            var region_id = $(this).val();
            cargarComunas(region_id, null);
        });

        // Cargar comunas al cargar la página si hay una región seleccionada
        var initial_region_id = '{{ paciente_region_id }}';
        var initial_comuna_id = '{{ paciente_comuna_id }}';
        if (initial_region_id) {
            cargarComunas(initial_region_id, initial_comuna_id);
        }

        // Función para mostrar el datepicker
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight: true,
        });
    });
</script>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Editar Paciente</div>
                <div class="card-body">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <h4>Datos Paciente</h4>
                        <div class="form-group">
                            {{ formPac.nombre | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ formPac.apellido | as_crispy_field }}
                        </div>
                        <div class="mb-3">
                            {{ formPac.rut | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ formPac.genero | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ formPac.telefono | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ formPac.fechaNacimiento | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ formPac.direccion | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            <label for="id_region">Región*</label>
                            <select class="form-control" name="region" id="id_region">
                                <option value="">Seleccione una región</option>
                                {% for region in regiones %}
                                <option value="{{ region.id }}"
                                    {% if region.id == paciente_region_id %}selected{% endif %}>{{ region.region }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="id_comuna">Comuna*</label>
                            <select class="form-control" name="comuna" id="id_comuna">
                                <option value="">Seleccione una comuna</option>
                            </select>
                        </div>
                        <br>
                        <div class="form-group">
                            {{ formPac.antecedentesMedicos | as_crispy_field }}
                        </div>

                        <hr>
                        <h4>Datos Tutor</h4>
                        <div class="form-group">
                            {{ formTut.nombre | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ formTut.apellido | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ formTut.rut | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ formTut.genero | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ formTut.telefono | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            <label for="id_email">Email*</label>
                            <input type="email" class="form-control" id="id_email" name="{{ formTut.email.name }}"
                                value="{{ formTut.email.value }}" readonly>
                        </div>
                        <button type="submit" style="width: 100%; margin-top: 10px;"><i class="fas fa-save"></i> Guardar
                            Cambios </button>
                    </form>
                    <div class="text-center" style="margin-top: 10px;">
                        <a href="{% url 'fichaClinica' id=paciente.id %}" class="btn btn-secondary"
                            style="width: 100%;"><i class="fas fa-arrow-left"></i> Volver a la Ficha Clínica</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    button {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        background-color: #e7549c;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
        transition: all 0.4s ease;
        color: #fff;
    }

    button:hover {
        background-color: #b8075c;
        color: #fff;
    }
</style>

{% endblock %}