{% extends 'base.html' %}

{% block title %}Registro Fonoaudiologo{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<script>
    // Función para obtener las comunas de una región
    $(document).ready(function () {
        $('#id_region').change(function () {
            var region_id = $(this).val();
            $.ajax({
                url: '/obtener_comunas/',
                data: {
                    'region_id': region_id
                },
                dataType: 'json',
                success: function (data) {
                    $('#id_comuna').empty();
                    $.each(data, function (index, comuna) {
                        $('#id_comuna').append($('<option>', {
                            value: comuna.id,
                            text: comuna.comuna
                        }));
                    });
                }
            });
        });
    });
    // Función para mostrar el datepicker
    $(document).ready(function(){
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight: true,
        });
    });
</script>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Registro De Paciente</div>
                <div class="card-body">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <h4>Datos Paciente</h4>
                        <div class="form-group">
                            {{ formPac.nombre | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ formPac.apellido | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ formPac.rut | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ formPac.genero | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ formPac.telefono | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ formPac.fechaNacimiento | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ formPac.direccion | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            <label for="id_region">Región*</label>
                            <select class="form-control" name="region" id="id_region">
                                <option value="">Seleccione una región</option>
                                {% for region in regiones %}
                                <option value="{{ region.id }}">{{ region.region }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="id_comuna">Comuna*</label>
                            <select class="form-control" name="comuna" id="id_comuna">
                                <option value="">Seleccione una comuna</option>
                            </select>
                        </div>
                        <hr>
                        <h4>Datos Tutor</h4>
                        <div class="form-group">
                            {{ formTut.nombre | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ formTut.apellido | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ formTut.rut | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ formTut.genero | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ formTut.telefono | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ formTut.email | as_crispy_field }}
                        </div>
                        <button type="submit">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    button {
        width: 100%;
        height: 40px;
        border-radius: 40px;
        background-color: #e7549c;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
        transition: all 0.4s ease;
        color: #fff;
    }

    button:hover {
        background-color: #b8075c;
        color: #fff;
    }
</style>

</script>
{% endblock %}