{% extends 'base.html' %}

{% block title %}Registrar Paciente{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<script>
    // Función para obtener las comunas de una región
    $(document).ready(function () {
        $('#id_region').change(function () {
            var region_id = $(this).val();
            $.ajax({
                url: '/obtenerComunas/',
                data: {
                    'region_id': region_id
                },
                dataType: 'json',
                success: function (data) {
                    $('#id_comuna').empty();
                    $.each(data, function (index, comuna) {
                        $('#id_comuna').append($('<option>', {
                            value: comuna.id,
                            text: comuna.comuna
                        }));
                    });
                }
            });
        });
    });
    // Función para mostrar el datepicker
    $(document).ready(function(){
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight: true,
        });
    });
</script>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Registro De Paciente</div>
                <div class="card-body">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <h4>Datos Paciente</h4>
                        <div class="form-group">
                            {{ formPac.nombre | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ formPac.apellido | as_crispy_field }}
                        </div>
                        <div class="mb-3">
                            <label for="rut" class="form-label">RUT</label>
                            <input type="text" class="form-control" id="rut" name="rut" value="{{ rut }}" {% if rut is None %}placeholder="Ingrese el RUT"{% endif %}>
                        </div>                
                        <div class="form-group">
                            {{ formPac.genero | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ formPac.telefono | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ formPac.fechaNacimiento | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ formPac.antecedentesMedicos | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ formPac.direccion | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            <label for="id_region">Región*</label>
                            <select class="form-control" name="region" id="id_region">
                                <option value="">Seleccione una región</option>
                                {% for region in regiones %}
                                <option value="{{ region.id }}">{{ region.region }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="id_comuna">Comuna*</label>
                            <select class="form-control" name="comuna" id="id_comuna">
                                <option value="">Seleccione una comuna</option>
                            </select>
                        </div>
                        <hr>
                        <h4>Datos Tutor</h4>
                        <div class="form-group">
                            {{ formTut.nombreTutor | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ formTut.apellidoTutor | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ formTut.rutTutor | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ formTut.generoTutor | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ formTut.telefonoTutor | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ formTut.emailTutor | as_crispy_field }}
                        </div>
                        <button type="submit"><i class="fas fa-save"></i> Registrar Paciente </button>
                                            <!-- Botón "Volver" -->
                    <div class="text-center" style="margin-top: 10px;">
                        <a href="{% url 'busquedaPaciente' %}" class="btn btn-secondary" style="width: 100%;"><i class="fas fa-arrow-left"></i> Volver</a>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    button {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        background-color: #e7549c;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
        transition: all 0.4s ease;
        color: #fff;
    }

    button:hover {
        background-color: #b8075c;
        color: #fff;
    }
</style>

</script>
{% endblock %}
