{% extends 'base.html' %}

{% block title %}Búsqueda de paciente{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Pacientes</h2>
    <div class="row justify-content-between mb-4">
        <div class="col-md-4">
            <form method="GET" action="{% url 'buscar_paciente' %}" id="buscarPacienteForm">
                <div class="input-group">
                    <input type="text" class="form-control" id="rut" name="rut" placeholder="Ingresa el RUT del paciente (12345678-9)" value="{{ rut|default_if_none:'' }}">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i> Buscar
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-4 text-md-end">
            <a href="{% url 'registroPaciente' %}" class="btn btn-success">
                <i class="fas fa-plus"></i> Agregar Paciente
            </a>
        </div>
    </div>

    {% if pacientes %}
    <div class="table-responsive">
        <table id="pacientesTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>RUT</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Género</th>
                    <th>Teléfono</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for paciente in pacientes %}
                <tr>
                    <td>{{ paciente.nombre }}</td>
                    <td>{{ paciente.apellido }}</td>
                    <td>{{ paciente.rut }}</td>
                    <td>{{ paciente.fechaNacimiento }}</td>
                    <td>{{ paciente.genero.genero }}</td>
                    <td>{{ paciente.telefono }}</td>
                    <td>
                        <a href="{% url 'fichaClinica' paciente.id %}" class="btn btn-secondary">
                            <i class="fas fa-file-medical"></i> Ficha Clínica
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="alert alert-warning" role="alert">
        No se encontraron pacientes.
    </div>
    {% endif %}
</div>

<!-- Incluye jQuery y DataTables -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"></script>

<script>
    $(document).ready(function() {
        $('#pacientesTable').DataTable({
            language: {
                url: "//cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
            },
            dom: 'lrtip' // Oculta la barra de búsqueda
        });

        document.getElementById('buscarPacienteForm').onsubmit = function(event) {
            event.preventDefault();
            const rut = document.getElementById('rut').value;
            
            fetch(`{% url 'buscar_paciente' %}?rut=${rut}`)
                .then(response => response.json())
                .then(data => {
                    if (data.found) {
                        window.location.href = data.url;
                    } else {
                        Swal.fire({
                            title: 'Paciente no encontrado',
                            text: "¿Deseas crear un nuevo paciente?",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonText: 'Cancelar',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Sí, crear paciente'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = "{% url 'registroPaciente' %}?rut=" + rut;
                            }
                        });
                    }
                });
        };
    });
</script>
{% endblock %}
