{% extends 'base.html' %}

{% block title %}Ficha Clínica{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h2>Datos Personales</h2>
            <a href="{% url 'editar_paciente_tutor' paciente.id %}" class="btn btn-warning">
                <i class="fas fa-edit me-2"></i>Editar
            </a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="card-title">Datos del Paciente</h4>
                    <p class="card-text"><strong>Nombre:</strong> {{ paciente.nombre }}</p>
                    <p class="card-text"><strong>Apellido:</strong> {{ paciente.apellido }}</p>
                    <p class="card-text"><strong>RUT:</strong> {{ paciente.rut }}</p>
                    <p class="card-text"><strong>Fecha de Nacimiento:</strong> {{ paciente.fechaNacimiento }}</p>
                    <p class="card-text"><strong>Género:</strong> {{ paciente.genero.genero }}</p>
                    <p class="card-text"><strong>Teléfono:</strong> {{ paciente.telefono }}</p>
                    <p class="card-text"><strong>Dirección:</strong> {{ paciente.direccion }}</p>
                    <p class="card-text"><strong>Comuna:</strong> {{ paciente.comuna.comuna }}</p>
                    <p class="card-text"><strong>Región:</strong> {{ paciente.comuna.region }}</p>
                </div>
                <div class="col-md-6">
                    <h4 class="card-title">Datos del Tutor</h4>
                    <p class="card-text"><strong>Nombre:</strong> {{ paciente.tutor.nombre }}</p>
                    <p class="card-text"><strong>Apellido:</strong> {{ paciente.tutor.apellido }}</p>
                    <p class="card-text"><strong>RUT:</strong> {{ paciente.tutor.rut }}</p>
                    <p class="card-text"><strong>Género:</strong> {{ paciente.tutor.genero.genero }}</p>
                    <p class="card-text"><strong>Teléfono:</strong> {{ paciente.tutor.telefono }}</p>
                    <p class="card-text"><strong>Email:</strong> {{ paciente.tutor.email }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h2>Antecedentes Médicos</h2>
            <a href="{% url 'editar_paciente_tutor' paciente.id %}" class="btn btn-warning">
                <i class="fas fa-edit me-2"></i>Editar
            </a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    {% if paciente.antecedentesMedicos %}
                    <p class="card-text">{{ paciente.antecedentesMedicos }}</p>
                    {% else %}
                    <p class="card-text">No hay antecedentes médicos ingresados.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h2 class="mb-0">Notas</h2>
            <a href="{% url 'notasPaciente' paciente.id %}" class="btn btn-primary">
                <i class="fas fa-plus-circle me-2"></i>Nueva Nota</a>
        </div>
        <div class="card-body">
            {% if notas %}
            <ul class="list-group">
                {% for nota in notas %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ nota.fecha }}
                    <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#notaModal" data-nota="{{ nota.nota }}">
                        <i class="fas fa-eye"></i> Mostrar Nota
                    </button>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p class="card-text">No hay notas ingresadas.</p>
            {% endif %}
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h2 class="mb-0">Protocolos de Comunicación</h2>
            <a href="#" class="btn btn-primary">
                <i class="fas fa-file-alt me-2"></i>Ingresar Formulario
            </a>
        </div>
        <div class="card-body">

        </div>
    </div>
    
    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h2 class="mb-0">Sesiones Fonoaudiológicas</h2>
            <a href="{% url 'sesion' paciente.id %}" class="btn btn-primary">
                <i class="fas fa-plus-circle me-2"></i>Nueva Sesión
            </a>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sesion in sesiones %}
                    <tr>
                        <td>{{ sesion.fecha }}</td>
                        <td>
                            <a href="{% url 'detalleSesion' sesion.id %}" class="btn btn-info"><i class="fas fa-eye"></i> Ver Detalle</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="notaModal" tabindex="-1" aria-labelledby="notaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="notaModalLabel">Nota</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="notaModalBody">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    var notaModal = document.getElementById('notaModal');
    notaModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var nota = button.getAttribute('data-nota');
        var modalBody = notaModal.querySelector('.modal-body');
        modalBody.textContent = nota;
    });
</script>

{% endblock %}
