{% extends 'base.html' %}

{% block title %}Perfil{% endblock %}

{% block content %}

<div class="container-fluid">
    <h1>Bienvenido(a) {{ user.get_full_name }}</h1>
    <hr>
    <!-- PERFIL FONO -->
    {% if user.tipoUsuario.nombre_tipo_usuario == "Fonoaudiologo" %}
    <h2>Tus horas agendadas para hoy:</h2>
    {% if reservas_hoy %}
    <table id="reservasHoyTable" class="table table-striped">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Paciente</th>
                <th>Rut</th>
                <th>Teléfono Paciente</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for reserva in reservas_hoy %}
            {% if reserva.fonoaudiologo.email == user.email and reserva.estado == 'Reservada' %}
            <tr>
                <td>{{ reserva.fecha }}</td>
                <td>{{ reserva.hora }}</td>
                <td>{{ reserva.nombrePaciente }} {{ reserva.apellidoPaciente }}</td>
                <td>{{ reserva.rutPaciente }}</td>
                <td>{{ reserva.telefonoPaciente }}</td>
                <td>
                    <a href="#" onclick="confirmarAsistencia({{ reserva.id }})" class="btn btn-success">Asistida</a>
                    <a href="#" onclick="confirmarInasistencia({{ reserva.id }})" class="btn btn-danger">No asistida</a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No tienes horas reservadas para hoy.</p>
    {% endif %}

    <h2>Tus siguientes horas agendadas:</h2>
    {% if reservas_futuras %}
    <table id="reservasFuturasTable" class="table table-striped">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Paciente</th>
                <th>Rut</th>
                <th>Teléfono Paciente</th>
            </tr>
        </thead>
        <tbody>
            {% for reserva in reservas_futuras %}
            {% if reserva.fonoaudiologo.email == user.email and reserva.estado == 'Reservada' %}
            <tr>
                <td>{{ reserva.fecha }}</td>
                <td>{{ reserva.hora }}</td>
                <td>{{ reserva.nombrePaciente }} {{ reserva.apellidoPaciente }}</td>
                <td>{{ reserva.rutPaciente }}</td>
                <td>{{ reserva.telefonoPaciente }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No tienes horas futuras.</p>
    {% endif %}
    <h2>Tus horas agendadas:</h2>
    <table id="reservasTotalTable" class="table table-striped">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Paciente</th>
                <th>Teléfono Paciente</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for reserva in reservas_total %}
            {% if reserva.fonoaudiologo.email == user.email %}
            <tr>
                <td>{{ reserva.fecha }}</td>
                <td>{{ reserva.hora }}</td>
                <td>{{ reserva.nombrePaciente }} {{ reserva.apellidoPaciente }}</td>
                <td>{{ reserva.telefonoPaciente }}</td>
                <td>
                    {% if reserva.estado == 'Asistida' %}
                    <button class="btn btn-success" disabled>Asistida</button>
                    {% elif reserva.estado == 'No Asistida' %}
                    <button class="btn btn-danger" disabled>No Asistida</button>
                    {% endif %}
                </td>
                <td>
                    <!-- Celda para el botón "Buscar Paciente" -->
                    <a href="{% url 'busquedaPaciente' %}?rut={{ reserva.rutPaciente }}" class="btn btn-warning">Buscar
                        Paciente</a>
                </td>

            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <!-- PERFIL GERENCIA -->
    {% elif user.tipoUsuario.nombre_tipo_usuario == "Gerencia" %}
    <h2>Actividad Reciente:</h2>
    {% if logs %}
    <table id="logsTable" class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Usuario</th>
                <th>Fecha</th>
                <th>Texto</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            <tr>
                <td>{{ log.id }}</td>
                <td>{{ log.username }}</td>
                <td>{{ log.fecha_inicio }}</td>
                <td>{{ log.texto }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No hay actividad reciente.</p>
    {% endif %}

    <!-- PERFIL TUTOR -->
    {% elif user.tipoUsuario.nombre_tipo_usuario == "Tutor" %}
    <h2>Tus siguientes horas agendadas:</h2>
    {% if reservas_futuras %}
    <table id="reservasTutorTable" class="table table-striped">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Paciente</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for reserva in reservas_futuras %}
            {% if reserva.emailPaciente == user.email %}
            <tr>
                <td>{{ reserva.fecha }}</td>
                <td>{{ reserva.hora }}</td>
                <td>{{ reserva.nombrePaciente }} {{ reserva.apellidoPaciente }}</td>
                <td>
                    <a href="#" onclick="cancelarReserva({{ reserva.id }})" class="btn btn-danger">Cancelar</a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No tienes horas reservadas.</p>
    {% endif %}
    {% else %}

    {% endif %}
</div>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function () {
        $('#reservasHoyTable, #reservasFuturasTable, #reservasTotalTable, #logsTable, #reservasTutorTable').DataTable({
            language: {
                url: "//cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
            },
            order: [
                [0, 'desc']
            ]
        });
    });
</script>

{% endblock %}
