<body>
    <h1>Confirmación Reserva De Hora Para <strong>COFAM</strong></h1>
    <hr>
    <p>Se ha reservado con éxito con los siguientes datos:</p>
    <p>Fecha: {{ fecha }}</p>
    <p>Hora: {{ hora }}</p>
    <p>Paciente: {{ nombre }} {{ apellido }} </p>
    <p>Rut: {{ rut }}</p>
    <p>Profesional: {{ fonoaudiologo }}</p>
    <hr>
    <footer>
    <p>Si no solicitaste reservar esta hora, por favor ignora este mensaje.</p>
    <p>Gracias.</p>
    <p>El equipo de Web <strong>COFAM</strong></p>
    </footer>
    
</body>