{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Crear Pregunta{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Crear pregunta</div>
                <div class="card-body">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.formulario | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ form.textoPregunta | as_crispy_field }}
                        </div>
                        <div class="row justify-content-center">
                            <button type="submit" class="btn btn-primary btn-registrar"><i class="fas fa-save"></i>
                                Registrar pregunta </button>
                            <a href="{% url 'preguntas' %}" class="btn btn-primary btn-volver">Volver</a>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .btn-volver {
        width: 40%;
        margin-left: 5%;
        font-size: 15px;
        background-color: #d5d0d2;
        /* Color de fondo gris*/
        border-color: #d5d0d2;
        /* Color del borde gris */
        text-transform: uppercase;
        /* Convertir texto en mayúsculas*/
        letter-spacing: 1px;
        /*Espaciado entre letras */
    }

    .btn-volver:hover {
        background-color: #c0bebf;
        /*Gris más oscuro*/
        border-color: #c0bebf;
        /*Gris más oscuro*/
    }

    .btn-registrar {
        width: 40%;
        font-size: 15px;
        background-color: #f26baa;
        /*Color de fondo rosa*/
        border-color: #f26baa;
        /*Color del borde rosa*/
        text-transform: uppercase;
        /*Convertir texto en mayúsculas*/
        letter-spacing: 1px;
        /*Espaciado entre letras */
    }

    .btn-registrar:hover {
        background-color: #e7549c;
        /* Rosado más oscuro*/
        border-color: #e7549c;
        /*Borde en rosado más oscuro*/
    }
</style>
{% endblock %}